.desc-info-info {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
}

.desc-info-label {
    line-height: 32px;
    height: 32px;
    width: 70px;
    text-align: right;
}

.desc-info-content {
    line-height: 32px;
    height: 32px;
    padding-left: 20px;
}

.w-e-toolbar {
    z-index: 1 !important;
}

.w-e-text-container {
    z-index: 1 !important;
}